*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#frame{
    width: 100%;
}
.body{
    background-color: #F7F7F7;
}
#li{
    color: red;
}
/* 发现酷玩字体 */
#find{
    color: #333333;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    /* margin-top: 40px;  */
}
/* 跳转部分 */

.skip{
    /* margin-left: 550px; */
    margin-top: 40px;
    width: 100%;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    border-bottom: 2px solid rgb(228, 228, 230);
}
.skip>a{
    color: gray;
    font-size: 20px;
    position: absolute;
    top: 105px;
    left: 584px;
    width: 160px;
    height: 30px;
    /* background-color: rgb(4, 0, 255); */
   text-indent: 52px;
}
#skip2{
    color:red;
    font-size: 20px;
    /* margin-left: 550px; */
    border-bottom: 6px solid red;
}
.skip>a:nth-of-type(2){
    margin-left: 180px;
}
.skip>a:nth-of-type(3){
    margin-left: 360px;
}
/* 渲染数据部分 */
.drawing{
    width: 1000px;
    /* background-color: aqua;
    height: 100px; */
    height: auto;
    margin-left: 240px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pic{
    width: 100%;
    height: 140px;
}
.drawing>li{
    width: 230px;
    height: 276px;
    border: 1px solid rgb(205, 199, 199);
    border-radius: 10px;
    margin-top: 40px;
    height: auto;
    
}
.drawing>li:hover{
    animation: run 1s infinite alternate;
}
.title{
    color: #222121;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}
.title1{
    color: gray;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 15px;
}
.price{
    color: red;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 2px;
}
.xin{
    display:inline-block;
    width: 20px;
    height: 25px;
    text-indent: 20px;
    margin-left: 95px;
    background: url(./../../img/xin.png) no-repeat 6px 4px;
    background-size: 70%;
    color: gray;
    font-size: 14px;
}
.look{
    display: inline-block;
    width: 40px;
    height: 25px;
    background-color: aqua;
    text-indent: 20px;
    background: url(./../../img/reply.png) no-repeat 6px 4px;
    color: gray;
    font-size: 14px;
   
}
/* 加载更多页面*/
.jiazai{
    width: 150px;
    height: 70px;
    /* background-color: aqua; */
    color: red;
    margin-top: 80px;
    line-height: 70px;
    background: url(./../../img/more.png)no-repeat 10px 30px;
    border: 1px solid white;
    margin-left: 580px;
}
.jiazaizhong{
    width: 150px;
    height: 70px;
    /* background-color: aqua; */
    color: red;
    line-height: 70px;
    background: url(./../../img/loading-icon.gif)no-repeat 10px 30px;
    display: none;
    border: 1px solid white;
    /* margin-left: 600px; */
    margin-left: -160px;
}

@keyframes run {
    0%{
        opacity:.0.8;
    }
    100%{
        opacity:0.6;
    }
}

 /* 底部 */
 #foot{
    margin-top: 30px;
    height: 400px;
    width: 100%;
 }